body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-style: normal;
  background: #fff;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding: 0;
}

img {
  display: block;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav .logo {
  margin-right: 76px;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo .logo-studio-word-header {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
}

.link-nav {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}

.contact-details {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.contact-details-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-details-link:hover,
.contact-details-link:focus {
  color: #404bbf;
}

.first-page-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.page-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.page-button {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.page-button:hover,
.page-button:focus {
  background-color: #404bbf;
}

.second-page-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.studio-list {
  display: flex;
  gap: 24px;
}

.studio-list-elements {
  width: calc((100% - 72px) / 4);
}

.sub-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.studio-list-elements .sub-title {
  margin-bottom: 8px;
}

.text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.third-page-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.team-info {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.employees-info {
  padding: 32px 0;
}

.employees-info .sub-title {
  text-align: center;
  margin-bottom: 8px;
}

.employees-info .text {
  text-align: center;
}

.fourth-page-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-portfolio-elements {
  width: calc((100% - 48px) / 3);
}

.apps-info-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.apps-info-container .sub-title {
  margin-bottom: 8px;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.page-footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio-word-footer {
  color: #f4f4fd;
}

.text-footer {
  color: #f4f4fd;
  width: 264px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
